In [1]:
import pandas as pd

In [2]:
courseViewData = pd.read_csv('data_files_ml_engineer/user_course_views.csv')
courseTagsData = pd.read_csv('data_files_ml_engineer/course_tags.csv')
userAssessmentData = pd.read_csv('data_files_ml_engineer/user_assessment_scores.csv')
userInterestsData = pd.read_csv('data_files_ml_engineer/user_interests.csv')

In [3]:
courseViewData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249238 entries, 0 to 249237
Data columns (total 6 columns):
user_handle          249238 non-null int64
view_date            249238 non-null object
course_id            249238 non-null object
author_handle        249238 non-null int64
level                249238 non-null object
view_time_seconds    249238 non-null int64
dtypes: int64(3), object(3)
memory usage: 11.4+ MB

In [4]:
userAssessmentData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6571 entries, 0 to 6570
Data columns (total 4 columns):
user_handle              6571 non-null int64
assessment_tag           6571 non-null object
user_assessment_date     6571 non-null object
user_assessment_score    6571 non-null int64
dtypes: int64(2), object(2)
memory usage: 205.4+ KB

In [5]:
courseViewData.isna().sum()

user_handle          0
view_date            0
course_id            0
author_handle        0
level                0
view_time_seconds    0
dtype: int64

In [6]:
courseTagsData.isna().sum()

course_id        0
course_tags    112
dtype: int64

In [7]:
userAssessmentData.isna().sum()

user_handle              0
assessment_tag           0
user_assessment_date     0
user_assessment_score    0
dtype: int64

In [8]:
userInterestsData.isna().sum()

user_handle      0
interest_tag     0
date_followed    0
dtype: int64

## Unique Values
Check for unique values in courses and users to know more about the data

In [9]:
courseViewData.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [29]:
len(courseViewData['user_handle'].unique())

8760

In [ ]:
courseViewData.loc[courseViewData['user_handle']== 2]

In [25]:
len(userAssessmentData['user_handle'].unique())

3114

In [26]:
len(userInterestsData['user_handle'].unique())

10000

In [34]:
uniqueViewUsers = courseViewData['user_handle'].unique()
uniqueAssessmentUsers = userAssessmentData['user_handle'].unique()
uniqueInterestUsers = userInterestsData['user_handle'].unique()

In [39]:
users = list(uniqueViewUsers) + list(uniqueAssessmentUsers) + list(uniqueInterestUsers)

In [40]:
len(users)

21874

In [41]:
users = set(users)

In [43]:
len(users)

10000