In this Notebook I am trying to process the data and save it in MySQL ddatabase. As each user has different session for same course_id we need to add them.

In [2]:
import pandas as pd

In [3]:
courseViewData = pd.read_csv('data_files_ml_engineer/user_course_views.csv')

In [5]:
courseViewData.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [7]:
usersHandle = courseViewData['user_handle'].unique()
usersHandle

8760

In [8]:
resultDF = pd.DataFrame(columns=['user_handle','course_id','level','view_time_seconds'])

In [ ]:
for index in usersHandle:
    courses = courseViewData['course_id'].loc[courseViewData['user_handle'] == index]
    print(index)
    for course in courses:
        tempDF = pd.DataFrame(columns=['user_handle','course_id','level','view_time_seconds'])
        df = courseViewData.loc[(courseViewData['user_handle']== index) &(courseViewData['course_id']== course)]
        
        if course in resultDF['course_id'].values :
            pass
        else:
            tempDF['user_handle'] = df['user_handle'].unique()
            tempDF['course_id'] = df['course_id'].unique()
            tempDF['level'] = df['level'].unique()
            tempDF['view_time_seconds'] = df['view_time_seconds'].sum()
            resultDF = resultDF.append(tempDF)
            print(tempDF)

## Label Encoder

Using label encoder to change the categorical value to numerical value

In [14]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(["Beginner","Intermediate","Advanced"])

LabelEncoder()

In [15]:
levelDF = pd.DataFrame(le.transform(resultDF['level']))

In [16]:
resultDF['level'] = levelDF.values

In [17]:
import pymysql
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [18]:
MYSQL_USER = 'mydb'
MYSQL_PASSWORD = '9542582841'
MYSQL_HOST_IP = 'mysqlinstance.cjm8qag6rwgx.us-east-1.rds.amazonaws.com'
MYSQL_PORT = '3306'
db = 'pluralsight'

In [19]:
engine = create_engine('mysql+mysqlconnector://'+MYSQL_USER+':'+MYSQL_PASSWORD+'@'+MYSQL_HOST_IP+':'+MYSQL_PORT+'/'+db, echo=False)

In [ ]:
resultDF.to_sql(name='userView', con=engine, if_exists = 'append', index=False)

Now we are inserting preprocessed data into MySQL database.

Instead of having multiple columns for same user and same course id, we are adding them into make a single column. 
Now each column has unique set of user_handle and course_id 

userView table structure:

'user_handle','int'
'course_id','text'
'level','int'
'view_time_seconds','int'